
body{
    font-family: 'Cairo', sans-serif !important;
    background: #eaeaeaa3!important;
}
.bg-hehader
{
  background-image:url("../images/demo_bg.jpg");
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-hehader  h3 {
  color: white;
  position: absolute;
  top: 7%;
  right: 7%;
  font-size: 3em;

}
.bg-welcome
{
  background-image:url("../images/bg.jpg");
    height: 662px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.background-form {

  background: #FAFEFF;
  width: 33%;
  text-align: center;
  height: 93%;
  position: absolute;
  left: 8%;
  top: 0%;

}
.form{
  padding-top: 42%;
  padding-right: 4%;
  padding-left: 8%;
  color: #0d6490;


}
.form h3 {
  color: #1171bd;
      margin-bottom: 12%;
}
.color-368ACC{
  background: #368ACC
}
.ul-welcome{
  width: 49%;
  float: right;
  text-align: right;
  color: white;
  margin-top: 12%;
  margin-right: 6%;
  font-size: 2em;
  font-family: 'Cairo', sans-serif;

}

.navbar-dark .navbar-brand {
    color: #0a0a0a!important;
   }
   .navbar-dark .navbar-brand:hover{

   color: #5a5959!important;
  }
  .navbar-dark .navbar-nav .nav-link {
  color: #5a5959!important;
  }
  .navbar-dark .navbar-nav .nav-link:hover{
   color: #0a0a0a!important;
 }
 .fixed-top {
   padding: 1%!important;
 }

.py-4 {
margin-top: 8%;
}

.card-header {
    text-align: center;
}
.card-body{
  text-align: center;
}

label.btn.btn-default.btn-checkbox {
    background: whitesmoke;
}

.header_report .col-lg-3 {
    border: 1px solid #f1f1f1;
    padding: 1%;
}
.min-title{
text-align: right;
font-size: unset;
padding: 1%;
}
.min-title a {
  color:black;
  text-decoration: none;
}
.number-report {
    text-align: right;
    color: #a5a5a5;
    font-size: 0.8rem;
    padding-top: 4px;
    padding-bottom: 9px;
}
.reports .col-lg-4{

    margin-bottom: 1%;
    border-bottom: 1px solid whitesmoke;

}
.header_report .active, .col-lg-3:hover {
  background-color: #e8e7e7;
  color: white;
}
.reports {
  margin-top:4%;
}
.reports.hide {
    display: none;
}
.header_report a {
  color: #0e55a2;
  text-decoration: none;
}
input[type="radio"]
{
      margin: 6px 2% 4% 1%;
}
.radio_search {
  width: 100%;
}
.input-search{
  width: 50%!important;
  text-align: center;
  margin: auto;
}
th {
    white-space: nowrap;
}
#search-label{
      color: #0054a8;
}
p#innerPara{
  padding:20px ;
}
legend{
  width:210px!important;
  padding:10px 20px!important;
  color: #0e55a2!important;
}

.report-detail span {
 margin-right: 5%;
 background: #f3f3f3;
 padding: 3px;
 border-radius: 3px;
}
.report-detail .row {
      margin: 0% 1% 2% 0%;
}

label.font-weight-bold {
    color: #0054a8;
}


.show{
    z-index: 999;
    display: none;
  }
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
  }
.show .img-show{
    width: 100%;
    height: 400px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
  }
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
  }
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }


@media only screen and (max-device-width: 736px) {

.bg-hehader {
    height: 238px;
  }

.form {
    padding-top: 112%;
  }

  .bg-welcome {
    height: 822px;
    }

  .ul-welcome {
    margin-top: 16%;
    font-size: 1.9em;
  }
  .background-form {
    height: 61% !important;
  }
  .py-4 {
    margin-top: 22%;
    }
}
